@import './scss/variables';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(mid) {
    font-size: 50%;
  }

  @include respond(sm) {
    font-size: 45%;
  }

  @include respond(phone) {
    font-size: 25%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  background-image: var(--gradient);
  position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@import './scss/header';
@import './scss/button';
@import './scss/features';
@import './scss/work';
@import './scss/about';
@import './scss/process';
@import './scss/message';
@import './scss/footer';
@import './scss/animations';
@import './scss/navigation';
