.features {
  margin-bottom: 30rem;

  &__heading {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 10rem;
  }

  &__list {
    width: 100%;
    height: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;

    @include respond(phone) {
      flex-direction: column;
    }

    & > * {
      @include respond(phone) {
        width: 100%;
        flex: none;
      }
    }
  }

  &__left {
    border: 1px solid #707070;
    background-color: #ffffff;
    height: 47rem;
    flex: 0 0 50%;

    @include respond(phone) {
      margin-bottom: 6rem;
      flex: none;
    }
  }

  &__right {
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(phone) {
      padding-left: 0;
      height: 45rem;
      font-size: 3.2rem;
    }

    & h2 {
      font-size: 4rem;
      font-weight: 500;
    }

    & p {
      color: var(--header-para);
      width: 45rem;

      @include respond(phone) {
        width: 100%;
      }
    }

    & button {
      width: 26rem;

      @include respond(phone) {
        width: 52rem;
      }
    }

    & button span {
      margin-right: 1rem;
      transition: margin 0.3s;
    }

    & button:hover span {
      margin-right: 2rem;
    }

    & button img {
      margin-left: 1rem;
      transition: margin 0.3s;
      width: 10%;
    }

    & button:hover img {
      margin-left: 2rem;
    }
  }

  &__middle {
    flex-direction: row-reverse;

    @include respond(phone) {
      flex-direction: column;
    }
  }
}
