.work {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20rem;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & h2 {
      font-size: 4rem;
      font-weight: 500;
      margin-bottom: 1rem;

      @include respond(phone) {
        font-size: 6rem;
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    & P {
      width: 45rem;
      color: var(--header-para);
      text-align: center;
      margin-bottom: 2rem;

      @include respond(phone) {
        font-size: 3.2rem;
        width: 95%;
        margin-bottom: 4rem;
      }
    }
  }

  &__btn {
    padding: 2rem 6rem;
    border: none;
    color: var(--color-background);
    background-color: var(--color-text);
    cursor: pointer;
    transition: all 0.5s;

    @include respond(phone) {
      padding: 4rem 12rem;
    }

    &:hover {
      background-color: #6262ff;
      color: #ffffff;
      box-shadow: 0 1rem 2rem #6262ff50;
    }

    :focus {
      outline: none;
    }
  }
}
